body {
  background-color: rgba(236,160,166,0.08);
  text-align: center;
  font-family: Helvetica, sans-serif;
}

p {
  font-size: 14px;
}

.annotation {
  margin: 20px 0px;
}

#wrapper {
  max-width: 800px;
  margin: 0 auto;
}

.label {
  font-size: 100%;
}

.stats {
  display: inline-block;
  padding: 10px;
  background-color: white;
}

.stat-highlight {
  font-size: 14px;
  font-weight: bold;
  color:#eca0a6;
  margin: 10px;
}

.d3-tip {
  line-height: 1.5;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}
/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}


svg {
  font-size: 10px;
  font-family: Helvetica, sans-serif;
}

.btn {
  font-family: sans-serif;
}

.axis path {
  fill: none;
  stroke: none;
  shape-rendering: crispEdges;
}

/*.axis line {
  fill: none;
  stroke: black;
  stroke-dasharray: 2, 2;
}
*/
.y.axis {
  stroke: none;
}

.marker {
  /*stroke: #000;*/
}

.category-selection button {
  border-radius: 0px;
}

.category-selection button.selected,
.category-selection button:hover,
.category-selection button:active,
.category-selection button:focus {
  background-color: #eca0a6;
  color: white;
}
.category-selection.btn-toolbar {
  padding: 10px;
}

.category-selection span {
  float: left;
  margin-top: 5px;
  margin-right: 10px;
}


